.container {
  width: 100vw;
  height: 100vh;
  background-color: #F7FAFC;
}

.container>div {
  width: inherit;
  height: inherit;
}

.edge-first {
  z-index: 1 !important;
}

.edge-first>div>div>div>svg {
  z-index: 2 !important;
}

.containerMessageCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}