.container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  min-width: 150px;
  min-height: 148px;
  max-height: 149px;
  max-width: 160px;
  background-color: #90CDF4;
  border: 1px solid #CBD5E0;
  padding-top: 22px;
  z-index: 9999;
}

.paddingNormal {
  &.container {
    padding-top: 12px;
  }
}

.textLink {
  text-align: left;
  font-weight: 500;
  transition: 0.3s;
  color: #2D3748;
  font-size: 9pt;
}

.centerText {
  text-align: center;
}

.description {
  font-size: 6pt;
  color: #F7FAFC;
  margin-bottom: 10px;
}

.cardCenterLink {
  font-size: 15pt;
}

.cardCenterDescription {
  font-size: 12pt;
}

.containerHeader {
  display: flex;
  justify-content: center;
}

.header {
  font-weight: 500;
}

.cardCenter {
  min-width: 260px;
  min-height: 270px;
}

.containerScroll {
  padding: 10px;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6pt;
    /* display: none; */
  }

  &::-webkit-scrollbar {
    width: 3pt;
  }

  &:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #CBD5E0;
    transition: 1s;
  }

  &:hover::-webkit-scrollbar-thumb:hover {
    background: #A0AEC0;
  }
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: .7rem;
  height: .7rem;
  padding: .3rem;
  font-size: .5rem;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(100, 100, 111, 0.1);
  background-color: rgba(100, 100, 100, 0.1);
  font-weight: 500;
  color: #CBD5E0;
  transition: 0.3s;

  &:hover {
    font-weight: 700;
    background-color: rgba(100, 100, 100, 0.2);
  }
}

.cardClose {
  height: 1.3rem;
  width: 1.3rem;
  font-size: .7rem;
}

.content {
  width: 140px;
}

.cardContent {
  width: 230px;
}