.container {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  padding: 10px;
  min-width: 150px;
  min-height: 150px;
  max-width: 160px;
  background-color: #90CDF4;
  border: 1px solid #CBD5E0;
}

.textLink {
  text-align: left;
  font-weight: 500;
  transition: 0.3s;
  color: #2D3748;
  font-size: 9pt;
}

.containerHeader {
  display: flex;
  justify-content: center;
}

.header {
  font-weight: 500;
}

.centerText {
  text-align: center;
}

.description {
  font-size: 6pt;
  color: #F7FAFC;
  margin-bottom: 10px;
}